<section class="about-section" id="studio">
  <div class="about-container">
    
    <div class="about-text">
      <div class="blue-dash"></div>
      <span class="sub-label">LE STUDIO</span>
      <h2 class="about-title">How to be focus deeply?</h2>
      <p class="about-description">
        « Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
        enim ad minim veniam, quis nostrum exercitationem ullam 
        corporis suscipit laboriosam,
      </p>
    </div>

    <div class="about-image">
      <img src="/images/AAA.webp" alt="Bureau de travail avec un ordinateur portable">
    </div>

  </div>
</section>