<footer class="main-footer">
  <div class="footer-content">
    
    <div class="footer-logo">
      <img src="images/read.png" alt="Study Chill">
      <h2>Study chill</h2>
    </div>

    <div class="social-links">
      <a href="#"><img src="images/insta.webp" alt="Insta"></a>
      <a href="#"><img src="images/facebook.webp" alt="FB"></a>
      <a href="#"><img src="images/linke.webp" alt="In"></a>
    </div>

    <div class="footer-bottom">
      <a href="#">Mentions légales</a>
      <a href="#">Contact</a>
      <a href="#">Conditions générales</a>
    </div>

  </div>
</footer>