<header class="transparent-header" [class.scrolled]="isScrolled">
  <nav class="nav-container">
    <div class="logo-area">
        <div class="header-image">
      <img src="/images/read.png" alt="Logo Study Chill">
    </div>
      <span class="logo-text">Study chill</span>
    </div>
    
    
    <ul class="nav-links">
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/cours">Cours</a></li>
      <li><a routerLink="/studio">Studio</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>