<header class="transparent-header" [class.scrolled]="isScrolled">
  <nav class="nav-container">
    <div class="logo-area">
      <div class="header-image">
        <img src="/images/read.png" alt="Logo Study Chill">
      </div>
      <span class="logo-text">Study chill</span>
    </div>


    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active-link">Accueil</a></li>
      <li><a routerLink="/cours" routerLinkActive="active-link">Cours</a></li>
      <li><a routerLink="/studio" routerLinkActive="active-link">Studio</a></li>
      <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    </ul>
  </nav>
</header>