<section class="features-section">
  <div class="section-header">
    <span class="pre-title">NOS OUTILS</span>
    <h2 class="main-title">Conçu pour votre succès</h2>
  </div>

  <div class="features-grid">
    @for (item of features; track item.title) {
    <div class="feature-card" [class.dark-theme]="item.dark">
      <span class="card-number">{{ item.subtitle }}</span>

      <div class="icon-container">
        <img [src]="item.icon" [alt]="item.title">
      </div>

      <h3 class="feature-title">{{ item.title }}</h3>

      <p class="feature-desc">{{ item.desc }}</p>

      @if (item.title === 'Concentration') {
      <a [routerLink]="['/studio']" class="learn-more">Ouvrir le Timer & Sons →</a>
      }
      @else if (item.title === 'Lecture') {
      <a [routerLink]="['/cours']" class="learn-more">Gérer mes tâches →</a>
      }
      @else () {
      <a [routerLink]="['/dashboard']" class="learn-more">Voir mes progrès →</a>
      }
    </div>
    }
  </div>
</section>